{% load reviews_tags %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
    <article class="product_pod_home">
        {% block product_image %}
            <div class="home_container">
                {% with image=product.primary_image %}
                    
                    <a href="{{ product.get_absolute_url }}"><img src="{{ image.original.url }}" alt="{{ product.get_title }}" class="home_img"></a>
                    
                {% endwith %}
            </div>
        {% endblock %}
    </article>
{% endblock %}