    {% extends "layout.html" %}
    {% load staticfiles %}

    {% block content %}


    <section class="design-bg">
        <form id="create_product" method="post" action="/create/">
            {% csrf_token %}
        <div id="rootwizard">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul>
                            <li><a href="#tab1" data-toggle="tab">First Step</a></li>
                            <li><a href="#tab2" data-toggle="tab">Second Step</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="container">
                        <div class="row">

            <!-- ******** ******* ******* ***** Column #2  ******** ******* ******* ***** -->
                            <div class=" col-sm-6">
                                
                                <div class="designContainer" id="printable">
                                    <div id="imagesContainer"></div>
                                    <img id="Tshirtsrc" src="{% static "wuyi/plugins/images/black_front.png" %}" alt="White T-shirt">
                                </div>
                                <hr>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Preview</button>
                            </div>
            <!-- ******** ******* ******* ***** Column #3  ******** ******* ******* ***** -->


                            <div class=" col-sm-3">
                                <div class="widget">
                                    <div class="widget-header">
                                        <i class="icon-star"></i>
                                        <h3>Images Options</h3>
                                    </div>
                                    <div class="widget-content">  
                                        <h5><i class="icon-picture"></i> Add image</h5>
                                        <input type="file" id="imgInp" name="file" />
                                        <hr>
                                        <h5><i class="icon-tags"></i> Collections</h5>
                                        <ul class="tshirts unstyled clearfix tooltip-show">                
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title='White T-shirt'>
                                                    <img src="{% static "wuyi/plugins/images/white_front.png" %}" alt="White T-shirt">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title='Tshirt 2'>
                                                    <img src="{% static "wuyi/plugins/images/black_front.png" %}" alt="Tshirt 2">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title='tshirt 1'>
                                                    <img src="{% static "wuyi/plugins/images/grey_front.png" %}" alt="tshirt 1">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title='tshirt 1'>
                                                    <img src="{% static "wuyi/plugins/images/yellow_front.png" %}" alt="tshirt 1">
                                                </a>
                                            </li>
                                             <li>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title='tshirt 1'>
                                                    <img src="{% static "wuyi/plugins/images/purple_front.png" %}" alt="tshirt 1">
                                                </a>
                                            </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id='imgsrc' type='hidden' name='blabla' value="test">
                    <input id='offsetx' type='hidden' name='valuex' value="test">
                    <input id='offsety' type='hidden' name='valuey' value="test">
                    <input id='imgHeight' type='hidden' name='valueh' value="test">
                    <input id='imgWidth' type='hidden' name='valuew' value="test">
                </div>
                <div class="tab-pane" id="tab2">
                    <div> Product info</div> <br>  <hr>
                    <label class="l-form">Price:</label> <input id="price" name="proPrice">  <br>
                    <br>
                    <label class="l-form">description:</label> <input id="desc" name="proDesc"> 
                    <br>
                    <button type='submit' name="submit" value="create product">create </button>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">First</a></li>
                    <li class="previous"><a href="#">Previous</a></li>
                    <li class="next last" style="display:none;"><a href="#">Last</a></li>
                    <li class="next"><a href="#">Next</a></li>
                </ul>
            </div>

        </div>
    </form>
    </section>
  

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock%}

{% block extrascripts %}

<script  src="{% static "wuyi/js/jquery.bootstrap.wizard.min.js" %}"></script>
<script  src="{% static "wuyi/plugins/app.js" %}"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#rootwizard').bootstrapWizard({onNext: function(tab, navigation, index) {
            if(index==2) {
                //$('.designContainer').clone().prependTo('.tPre').find('i').remove();
                //$('.tPre').find('.ui-icon').css('display', 'none');
               //Make sure we entered the price
                if(!$('#price').val()) {
                    alert('You must enter your price');
                    $('#price').focus();
                    return false;
                }
            }
            
            // Set the name for the next tab
            //$('#tab3').html('Hello, ' + $('#name').val());
            
        }});
});
</script>
{% endblock %}

