.tPre {
	display: absolute;
	margin-top:100px;
	margin-left: 50px;
	width: 300px;
	height: 500px
}

.t-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.ban-t { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
}

span.ban-t{ 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
   max-width: 450px;
}
.spacer {
   padding:0 5px;
}

.home-login a{
	position: absolute;
	top:10px;
	right:20px;
	margin-right: 10px;
	color: white; 
   	font: bold 18px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.2);
   	padding: 10px; 
}
.more-designer {
	margin-top: 30px;
	margin-bottom: 10px;
	font: bold 18px Helvetica, Sans-Serif; 
	font-style: italic;
}
.more-tshirt {
	margin-top: 30px;
	margin-bottom: 10px;
	font: bold 18px Helvetica, Sans-Serif; 
	font-style: italic;
	text-align: right;
}
.random-t {
	max-width: 280px;
	max-height: 350px;
	margin-right: 50px;
}
.designers {
	margin-left: 60px;
}
button.get-start {
	margin-top: 150px;
	margin-left: 150px;
	width: 180px;
}
.site_logo {
	background-image: url('../wuyilogo.jpg');
}
.image_container_home {
	width:250px;
	height: 330px;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover .image_container_home {
border-color: #428bca;
-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.quote {
	display: block;
	width: 300px;
	margin: 30px 10px 10px 10px;
	font-size: 20px;
	font-style: italic;
}

.review {
	opacity: 0.7;
}
.review-title {
	display: block;
	font-size: 26px;
	font-weight: 600;
}
.author {
	font-size: 16px;
	text-align: center;
}
.review-hr {
	width: 55%;
}
.bottom-start {
	margin-left: 30px;
}
.l-form {
	min-width: 100px;
}

.product_pod_home {
height: 350px;
overflow: hidden;
margin: 20px 0;
position: relative;
}

.imgTmp {
	/*max-height: 456px;*/
}

#p-image {
	max-width: 500px;
	max-height: 500px;
}

#p-image .images{
  padding-top: 30px !important;
}
.t-image img {
	height: 360px;
	float: right;
	margin-right: 150px;
}

.carousel {
	padding-right: 150px;
	padding-left: 150px;
	border-style: solid;
	border-color: #e7e7e7;
}
.carousel-inner .item  img {
	height: 360px;
	float: right;
}

 .bn-caption {
 	margin-top: 50px;
	position: absolute;
	width: auto;
	color: #4b5668!important;
	font-size: 16px;
}
.wy-title {
	font-size: 50px;
}

ul.inst {
	margin-top: 30px;
	list-style-type: disc;
	list-style-position: inside;
}
.inst li {
	margin-top: 10px;
	font-size: 20px;
}
.banner-start {
	margin-top: 310px;
}
#myCarousel {
	border-style: solid;
	border-color: #e7e7e7;

}
ol.carousel-indicators {
	border-bottom: 1px;
	border-style: solid;
	border-color: #e7e7e7;
	padding-bottom: 20px;
}
.t-shirts li {
	float: left;
	background: #fff;
	margin: 8px !important;
	list-style: none !important;
	text-align: center;
}
.t-shirts li a {
	width: 50px;
	height: 30px;
}
.selection {
	height: 43px;
}
.sel-img {
	height: 43px;
	width: 43px;
}

.t-staging {
	display: none;
}
.ban-map {
	max-height: 350px;
}
.wuyi_container {
	margin: auto;
}

.wuyi_ban {
	margin:auto;
	width: inherit;
}	
.home-prod {
	margin-top: 30px;
}
.home-single {
	padding: 0;
}
.home_contanier {
	width: 100%; 
	min-height: 165px; 
	overflow: hidden;
	position: relative;
}
.home_container img {
	max-height: 350px;
	max-width: 100%;
	width: auto;
	margin: 0px auto;
}
.home_img {
	border: 1px solid #CCC;
}
.home-inst {
	padding-top:100px;
	padding-bottom: 100px;
	font-size: 20px; 
	font-style: italic;
	letter-spacing: 3px;
	line-height: 28px;
}
.home-new {
	font-size: 16px;
	font-style: italic;
}
.home-contain {
	border:1px solid #ccc;
}
.home-review {
	font-size: 26px;
	font-style: italic;
	margin-bottom: 30px;
}
.review-content {
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top:30px;
}
.review-author {
	font-size: 16px;
}
.home-weibo {
	background-image: url('../weibo.jpg');
}
.review-icon {
	height: 20px;
	width: 20px;
}
.nav-tabs > li.create {
	width: 130px;
}
.nav-tabs > li.tstyle {
	width: 265px;
}
.widget-content .ui-slider .ui-slider-range, .ui-progressbar-value {
    background-image: -moz-linear-gradient(360deg, #FFF, #FFF);
}
.t-background {
	background-color: white;
	width: 520px;
	height: 610px;
	margin-top: -42px;
	margin-left: 15px;
}
.item-thumb-container {	
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
	position: relative;
	float: left;
}
.item-qualities {
	display: inline-block;
	width: 150px;
	margin-bottom: 0;
	font-size: 12px;
	color: grey;
}
.item-overview {
	padding-left: 10px;
	padding-bottom: 10px;
}
.item-name {
	margin-left: 10px;
}
.sizes-label {
	display: inline-block;
	font-size: 12px;
	color: grey;
}
.item-option {
	margin-bottom: 20px;
}
.thumb-background {
	width: 33px;
	height: 36px;
	background-color: black;
}
.item-thumb {
	margin-top: -2px;
	width: 35px;
	height: 40px;
}
.item-cost {
	margin-top: 30px;
	font-size: 30px;
	color: #2878A1;
}
.item-cost-desc {
	font-size: 14px;
	color: #555;
}
.widget-content .tshirt-options {
	border: 1px solid #D5D5D5;
	border-radius: 5px;
}
.tshirt-options li.active {
	background-color: #E1F3FB;
	border: 1px solid #39ACE6;
	border-radius: 5px;
}
.tshirt-options li {
	cursor: pointer;
}
.item-color-picker {
	margin-top: 20px;
}