{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load home_product_tags %}
{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
 <div id="layout">
        <header class="header clearfix">     
        </header>

        {% block content_wrapper %}
        <div class="page">
        <div class="contanier-fluid">
          
        </div>
          <!--   <div id="myCarousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
              </ol>

              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static "banner1.png" %}" alt="Chania">
                  <div class="bn-caption"> 

                      <div class="wy-title">
                          無衣设计
                      </div>

                      <ul class="inst">
                        <li>添加文字</li>
                        <li>上传图片</li>
                        <li>确定价格</li>
                        <li>发布产品</li>
                      </ul>
                  </div>
                  <p><a class="btn btn-primary banner-start" href="/create">开始设计</a></p>
                </div>

                <div class="item">
                  <img src="{% static "banner2.png" %}" alt="Chania">
                </div>
              </div>

            </div> -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                      <img src="{% static "banner_2.jpg" %}"  class="wuyi_ban" alt="Chania">
                  </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container-fluid home-prod">
                <div class="row">
                  <div class="col-md-5"> 
                    <hr>
                  </div>
                  <div class="col-md-2 home-new"> 
                      <strong>New Featured Design </strong>
                  </div>
                  <div class="col-md-5">
                   <hr>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-9"> 
                         <div >
                          {% if products %}
                              <section>
                                  <div>
                                      <ol class="row">
                                          {% for product in products %}
                                              <li class="col-md-6 home-single">{% render_home_product product %}</li>
                                          {% endfor %}
                                      </ol>
                                  </div>
                              </section>
                          {% else %}
                              <p class="nonefound">{% trans "No products found." %}</p>
                          {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3"> 
                    <div class="home-review">
                      <p><strong>Reviews</strong></p>
                    </div>

                    <div class="review-content">“What an awesome way to support a campaign.”</div>
                    <div class="review-author"> 
                          <span> <img src="{% static "wuyi/weichat.jpg" %}" class="review-icon"> </span>@dxywill
                    </div>
                    <hr>

                    <div class="review-content">“Using Teespring has allowed us to spread our message internationally!”</div>
                    <div class="review-author"> 
                          <span> <img src="{% static "wuyi/weichat.jpg" %}" class="review-icon"> </span>@whatever
                    </div>
                    <hr>

                    <div class="review-content">“Thanks so much - you guys are beyond helpful!”</div>
                    <div class="review-author"> 
                          <span> <img src="{% static "wuyi/weibo.jpg" %}" class="review-icon"> </span> @kobebryant
                    </div>

                        
                    </div>
                </div>
            </div>
            <div class="container-fluid">
      			  <div class="jumbotron">
      			    <p>Bootstrap is the most popular HTML, CSS, and JS framework for <a class="btn btn-success bottom-start" href="/create">Start Design</a></p>
      			  </div>
			     </div>
        </div>
        {% endblock %} 

        <div id="faux-foot"></div>
    </div>
{% endblock content %}
